<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{bootstrap.min.css}"
          href="bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2>글 목록</h2>
    </div>
<!-- 글 등록 버튼 -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addBoard.html'"
                    th:onclick="|location.href='@{/boards/board}'|"
                    type="button">글 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>작성자</th>
                <th>조회수</th>
                <th>등록일</th>

            </tr>
            </thead>
            <tbody>
            <!-- boards 라는 컬렉션(리스트)를 순회하면서 각 항목에 대해 테이블의 행 생성함-->
            <!-- board는 순회 중인 현재 객체의 별칭임 -->
            <!-- 만약 board.uid 의 값이 123이라면 실제 URL을 /boards/123 으로 생성함-->
            <tr th:each="board : ${boards}">
                <td><a href="item.html" th:href="@{/boards/{uid}(uid=${board.uid})}">글 ID</a></td>
                <td><a href="item.html" th:href="@{/boards/{uid}(uid=${board.uid})}">제목</a></td>
                <td>작성자</td>
                <td>조회수</td>
                <td>등록일</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>