<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 로그인</title>
</head>
<body>
<div class="container">
    <h1>Login Page</h1>
    <form action="/user/loginUser" method="POST">
        <div>아이디 : <input type="text" name="userId"/></div>
        <div>비밀번호 : <input type="text" name="userPw"/></div>
        <button class="btn btn-success" type="submit" id="submit">로그인</button>
    </form>
    <a href="../">홈으로</a>
</div>
</body>
</html>